etc/checkdig.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--WSDL created by Apache Axis version: 1.4
	Built on Apr 22, 2006 (06:55:48 PDT)
	@(#) $Id: checkdig.wsdl 227 2009-08-14 06:16:15Z gfis $
    2009-04-24, Georg Fischer: URL:8080
-->
<wsdl:definitions targetNamespace="http://localhost:8080/axis/services/CheckService" 
	xmlns:apachesoap="http://xml.apache.org/xml-soap" 
	xmlns:impl="http://localhost:8080/axis/services/CheckService" 
	xmlns:intf="http://localhost:8080/axis/services/CheckService" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--
 * Copyright 2006 Dr. Georg Fischer <punctum at punctum dot kom>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
   <wsdl:message name="getResponseRequest">
      <wsdl:part name="function" type="soapenc:string"/>
      <wsdl:part name="parm1" type="soapenc:string"/>
      <wsdl:part name="parm2" type="soapenc:string"/>
   </wsdl:message>
   <wsdl:message name="getResponseResponse">
      <wsdl:part name="getResponseReturn" type="soapenc:string"/>
   </wsdl:message>
   <wsdl:portType name="CheckService">
      <wsdl:operation name="getResponse" parameterOrder="function parm1 parm2">
         <wsdl:input message="impl:getResponseRequest" name="getResponseRequest"/>
         <wsdl:output message="impl:getResponseResponse" name="getResponseResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CheckServiceSoapBinding" type="impl:CheckService">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getResponse">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getResponseRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            		namespace="http://checkdig.teherba.org" use="encoded"/>
         </wsdl:input>
         <wsdl:output name="getResponseResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            		namespace="http://localhost:8080/axis/services/CheckService" use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CheckServiceService">
      <wsdl:port binding="impl:CheckServiceSoapBinding" name="CheckService">
         <wsdlsoap:address location="http://localhost:8080/axis/services/CheckService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>

<!--WSDL created by Apache Axis version: 1.2.1
        Built on Jun 14, 2005 (09:15:57 EDT)
        @(#) $Id: checkdig.wsdl 227 2009-08-14 06:16:15Z gfis $
<wsdl:definitions targetNamespace="http://localhost:8080/axis/services/CheckService" 
    xmlns:apachesoap="http://xml.apache.org/xml-soap" 
    xmlns:impl="http://localhost:8080/axis/services/CheckService" 
    xmlns:intf="http://localhost:8080/axis/services/CheckService" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:message  name="ResponseMessage">
        <wsdl:part name="result"    type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="RequestMessage">
        <wsdl:part name="function"  type="xsd:string"/>
        <wsdl:part name="parm1"     type="xsd:string"/>
        <wsdl:part name="parm2"     type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:portType name="PortType">
        <wsdl:operation name="getResponse" parameterOrder="function parm1 parm2">
            <wsdl:input  message="impl:RequestMessage"  name="RequestMessage" />
            <wsdl:output message="impl:ResponseMessage" name="ResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ServiceBinding" type="impl:PortType">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getResponse">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input  name="RequestMessage">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://localhost:8080/axis/services/CheckService" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="ResponseMessage">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                    namespace="http://localhost:8080/axis/services/CheckService" use="encoded"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="CheckService">
        <wsdl:port binding="impl:ServiceBinding" name="ServicePort">
            <wsdlsoap:address location="http://localhost:8080/axis/services/CheckService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>    -->

