etc/spec/de_account.dtd

<!-- 
	DTD for account check digit method specifications
	@(#) $Id: de_account.dtd 49 2008-09-26 06:31:46Z gfis $
	2007-04-25, Georg Fischer (@Google+1): manually corrected
	Generated by Relaxer 1.1b: Wed Apr 25 21:15:26 GMT+01:00 2007
-->
<!--
 * Copyright 2006 Dr. Georg Fischer <punctum at punctum dot kom>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->

<!ELEMENT product EMPTY>
<!ATTLIST product from CDATA #REQUIRED>
<!ATTLIST product special CDATA #IMPLIED>
<!ATTLIST product to   CDATA #REQUIRED>
<!ATTLIST product weights CDATA #REQUIRED>

<!ELEMENT otherwise ((account | call | change | check | choose | code | modulo | premod | product | sequence | set | test)+)>

<!ELEMENT when      ((account | call | change | check | choose | code | modulo | premod | product | sequence | set | test)+)>
<!ATTLIST when eq      CDATA #IMPLIED>
<!ATTLIST when le      CDATA #IMPLIED>
<!ATTLIST when from    CDATA #IMPLIED>
<!ATTLIST when to      CDATA #IMPLIED>

<!ELEMENT call EMPTY>
<!ATTLIST call method  CDATA #REQUIRED>

<!ELEMENT account EMPTY>
<!ATTLIST account div  CDATA #IMPLIED>
<!ATTLIST account mod  CDATA #IMPLIED>

<!ELEMENT modulo EMPTY>
<!ATTLIST modulo base  CDATA #REQUIRED>
<!ATTLIST modulo subfrom CDATA #IMPLIED>

<!ELEMENT check EMPTY>
<!ATTLIST check pos    CDATA #IMPLIED>
<!ATTLIST check result CDATA #IMPLIED>
<!ATTLIST check incr   CDATA #IMPLIED>

<!ELEMENT sequence (call+)>

<!ELEMENT change EMPTY>
<!ATTLIST change from  CDATA #REQUIRED>
<!ATTLIST change to    CDATA #REQUIRED>

<!ELEMENT code EMPTY>
<!ATTLIST code method  CDATA #REQUIRED>

<!ELEMENT variant ((account | call | change | check | choose | code | modulo | premod | product | sequence | set | test)+)>
<!ATTLIST variant id   CDATA #REQUIRED>
<!ATTLIST variant like CDATA #IMPLIED>

<!ELEMENT set EMPTY>
<!ATTLIST set pos      CDATA #REQUIRED>

<!ELEMENT methods ((method | variant)+)>

<!ELEMENT premod EMPTY>
<!ATTLIST premod method CDATA #REQUIRED>

<!ELEMENT test EMPTY>
<!ATTLIST test id      CDATA #REQUIRED>
<!ATTLIST test account CDATA #IMPLIED>
<!ATTLIST test result  CDATA #REQUIRED>
<!ATTLIST test blz     CDATA #IMPLIED>


<!ELEMENT choose (when+, otherwise)>

<!ELEMENT method ((account | call | change | check | choose | code | modulo | premod | product | sequence | set | test)+)>
<!ATTLIST method id    CDATA #REQUIRED>
<!ATTLIST method like  CDATA #IMPLIED>
<!ATTLIST method since CDATA #IMPLIED>
<!ATTLIST method bank  CDATA #IMPLIED><!ATTLIST method nyi   CDATA #IMPLIED>
